#contenedor{

    width: 100%;

}

#subContenedor{

    width: 60%;

    margin: 30px 20% 60px;

}



.titulo{

    font-weight: bold;

    font-size: 24px;

    color: #002183;

    text-align: center;

    margin-bottom: 20px;

}



.texto{

    text-align: justify;

    margin-top: 8px;

    color: #333;

   font-family: 'Open Sans', sans-serif;

}



hr{

    margin: 50px auto;

}



@media screen and (max-width: 768px) {

    #subContenedor{

        width: 80%;

        margin: 30px 10% 60px;

    }

  }

  







